body{
  background-image: url(../images/spiderman.jpg);
}

button{
  border: 3px solid gold;
  text-align: center;
  cursor: pointer;
  background-color: red;
  font-weight: bold;
  color: blue;
  font-size: 50px;
  border-radius: 50px;
  -webkit-text-stroke: 3px black;
}

button:hover{
  background-color: blue;
  color: red;
  box-shadow: 0 0 50px blue, 0 0 10px blue, 0 0 80px blue;
  -webkit-text-stroke: 3px black;
}

.container{
  display:flex;
  height: 800px;
  border-radius: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-start;
}
