<body>
<div class="marvelTeam flex mb-4" >
   <img *ngFor="let members of getTeam()" src="{{members.thumbnail.path}}.{{members.thumbnail.extension}}"  height="60">
</div>
<div class="marvelTeam flex mb-3" >
  <button type="button" class="btn btn-primary formatButton"  [routerLink]="['/team']">VIEW THE TEAM</button>
</div>

<div class="container mt-2">
  <div class="form-group">
    <input  type="text" class="forms-control shadow  bg-body rounded" placeholder="Search by Name" [(ngModel)]="filterCharacter" name="filterCharacter">
  </div>
  <table class="table mt-5 align-middle table-hover table-dark table-responsive" height="100">
    <thead>
      <tr>
        <th class="fw-bold col-md-1" scope="col">HEROE ID</th>
        <th class="fw-bold col-md-1" scope="col">NAME</th>
        <th class="fw-bold col-md-3" scope="col">DESCRIPTION</th>
        <th class="fw-bold col-md-3" scope="col">IMAGE</th>
        <th class="fw-bold col-md-1" scope="col"></th>
        <th class="fw-bold col-md-1" scope="col"></th>
        <th class="fw-bold col-md-1" scope="col"></th>
      </tr>
    </thead>
    <tbody class="bodyTable">
      <tr *ngFor="let heroe of listCharacters | filter: filterCharacter | paginate: {itemsPerPage: 5, currentPage: pages}">
        <td>{{heroe.id}}</td>
        <td>{{heroe.name}}</td>
        <td>{{heroe.description}}</td>
        <td><img src="{{heroe.thumbnail.path}}.{{heroe.thumbnail.extension}}" height="100"></td>
        <td><button type="button" class="btn btn-info btn1" [routerLink]="['/detail']" (click)="selectedHeroID(heroe)">DETAIL</button></td>
        <td><button type="button" class="btn btn-info btn2" (click)="addHeroTeam(heroe)">ADD</button></td>
        <td><button type="button" class="btn btn-info btn3" (click)="deleteHeroTeam(heroe)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container mt-5">
  <pagination-controls (pageChange)="pages = $event" class="paginator"></pagination-controls>
</div>
</body>



