

<div class="container">
  <div class="form-group">
    <input  type="text" class="forms-control" placeholder="Search by Name" [(ngModel)]="filterCharacter" name="filterCharacter">
  </div>
  <table class="table mt-5 align-middle table-hover">
    <thead>
      <tr>
        <th class="fw-bold col-md-1" scope="col">Heroe ID</th>
        <th class="fw-bold col-md-1" scope="col">Name</th>
        <th class="fw-bold col-md-3" scope="col">Description</th>
        <th class="fw-bold col-md-3" scope="col">Picture</th>
        <th class="fw-bold col-md-1" scope="col">Know more</th>
        <th class="fw-bold col-md-1" scope="col">Add to the team</th>
      </tr>
    </thead>
    <tbody class="bodyTable">
      <tr *ngFor="let heroe of listCharacters | filter: filterCharacter">
        <td>{{heroe.id}}</td>
        <td>{{heroe.name}}</td>
        <td>{{heroe.description}}</td>
        <td><img src="{{heroe.thumbnail.path}}.{{heroe.thumbnail.extension}}" width="100" ></td>
        <td><button type="button" class="btn btn-info" [routerLink]="['/detail']" (click)="selectedHeroID(heroe)">Know more!</button></td>
        <td><button type="button" class="btn btn-info">Select</button></td>
      </tr>
    </tbody>
  </table>
</div>


